*{
    background-color: black;
}

h1{
    background-color: black;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 1rem;
}

img{
    border: 5px solid crimson;
    width: 100%;
}

p{
    color: white;
    text-align: center;
    font-size: 3rem;
}

div{
    width: 50%;
    margin-left: 25%;
}